@use "variables" as *;

form {
  margin-right: auto;
  margin-left: auto;

  @media (min-width: size("width-max")) {
    & {
      max-width: 80%;
    }
  }
}

form select,
form label {
  display: block;
}

form label:not(:first-child) {
  margin-top: 1em;
}

form p label {
  display: inline;
}

form p label+label {
  margin-left: 1em;
}

form legend:first-child+label {
  margin-top: 0;
}

form select,
form input[type],
form textarea {
  margin-bottom: 1em;
}

form input[type="checkbox"],
form input[type="radio"] {
  margin-bottom: 0;
}

fieldset {
  margin: 0;
  padding: 0.5em 1em;
  border: 1px solid a_color("stealthy");
}

legend {
  color: a_color("stealthy");
}

button {
  outline: none;
  box-sizing: border-box;
  height: 2em;
  margin: 0;
  padding: calc(0.25em - 1px) 0.5em;
  font-family: inherit;
  font-size: 1em;
  border: 1px solid a_color("stealthy");
  border-radius: 2px;
  background: a_color("secondary");
  color: black;
  display: inline-block;
  width: auto;
  background: a_color("invisible");
  color: a_color("primary");
  cursor: pointer;
}

button:focus {
  border: 1px solid black;
}

button:not([disabled]):hover {
  border: 1px solid black;
}

button:active {
  background-color: a_color("stealthy");
}

button[disabled] {
  color: a_color("stealthy");
  cursor: not-allowed;
}

select {
  outline: none;
  box-sizing: border-box;
  height: 2em;
  margin: 0;
  padding: calc(0.25em - 1px) 0.5em;
  font-family: inherit;
  font-size: 1em;
  border: 1px solid a_color("stealthy");
  border-radius: 2px;
  background: white;
  color: black;
  display: inline-block;
  width: auto;
  background: a_color("invisible");
  color: black;
  cursor: pointer;
  padding-right: 1.2em;
  background-position: top 55% right 0.35em;
  background-size: 0.5em;
  background-repeat: no-repeat;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3Cpath fill='rgb(170, 170, 170)' fill-rule='nonzero' d='M1.5 2L3 0H0z'/%3E%3C/svg%3E");
}

select:focus {
  border: 1px solid black;
}

select:not([disabled]):hover {
  border: 1px solid black;
}

select:active {
  background-color: a_color("stealthy");
}

select[disabled] {
  color: a_color("stealthy");
  cursor: not-allowed;
}

select:focus,
select:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3Cpath fill='rgb(0, 0, 0)' fill-rule='nonzero' d='M1.5 2L3 0H0z'/%3E%3C/svg%3E");
}

input[type="text"],
input[type="password"],
input[type^="date"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="month"],
input[type="week"],
input[type="url"] {
  outline: none;
  box-sizing: border-box;
  height: 2em;
  margin: 0;
  padding: calc(0.25em - 1px) 0.5em;
  font-family: inherit;
  font-size: 1em;
  border: 1px solid a_color("stealthy");
  border-radius: 2px;
  background: white;
  color: black;
  display: block;
  width: 100%;
  line-height: calc(2em - 1px * 2 - (0.25em - 1px) * 2);
  appearance: none;

  &:focus {
    border: 1px solid black;
  }

  &::placeholder {
    color: a_color("stealthy");
  }
}

input[type="submit"],
input[type="button"],
input[type="reset"] {
  outline: none;
  box-sizing: border-box;
  height: 2em;
  margin: 0;
  padding: calc(0.25em - 1px) 0.5em;
  font-family: inherit;
  font-size: 1em;
  border: 1px solid a_color("stealthy");
  border-radius: 2px;
  background: white;
  color: black;
  display: inline-block;
  width: auto;
  background: a_color("invisible");
  color: black;
  cursor: pointer;
  appearance: none;

  &:focus {
    border: 1px solid black;
  }

  &:not([disabled]):hover {
    border: 1px solid black;
  }

  &:active {
    background-color: a_color("stealthy");
  }

  &[disabled] {
    color: a_color("stealthy");
    cursor: not-allowed;
  }
}

input[type="color"] {
  outline: none;
  box-sizing: border-box;
  height: 2em;
  margin: 0;
  padding: calc(0.25em - 1px) 0.5em;
  font-family: inherit;
  font-size: 1em;
  border: 1px solid a_color("stealthy");
  border-radius: 2px;
  background: white;
  color: black;
  display: block;
  width: 100%;
  line-height: calc(2em - 1px * 2 - (0.25em - 1px) * 2);
  appearance: none;
  width: 6em;

  &:focus {
    border: 1px solid black;
  }

  &::placeholder {
    color: a_color("stealthy");
  }

  &:hover {
    border: 1px solid black;
  }
}

input[type="file"] {
  outline: none;
  box-sizing: border-box;
  height: 2em;
  margin: 0;
  padding: calc(0.25em - 1px) 0.5em;
  font-family: inherit;
  font-size: 1em;
  border: 1px solid a_color("stealthy");
  border-radius: 2px;
  background: white;
  color: black;
  display: inline-block;
  width: auto;
  background: a_color("invisible");
  color: black;
  cursor: pointer;
  display: block;
  width: 100%;
  height: auto;
  padding: 0.75em 0.5em;
  font-size: 12px;
  line-height: 1;

  &:focus {
    border: 1px solid black;
  }

  &:not([disabled]):hover {
    border: 1px solid black;
  }

  &:active {
    background-color: a_color("stealthy");
  }

  &[type="file"][disabled] {
    color: a_color("stealthy");
    cursor: not-allowed;
  }
}

input[type="checkbox"],
input[type="radio"] {
  margin: -0.2em 0.75em 0 0;
  vertical-align: middle;
}

textarea {
  outline: none;
  box-sizing: border-box;
  height: 2em;
  margin: 0;
  padding: calc(0.25em - 1px) 0.5em;
  font-family: inherit;
  font-size: 1em;
  border: 1px solid a_color("stealthy");
  border-radius: 2px;
  background: white;
  color: black;
  display: block;
  width: 100%;
  line-height: calc(2em - 1px * 2 - (0.25em - 1px) * 2);
  appearance: none;
  height: 4.5em;
  resize: vertical;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  &:focus {
    border: 1px solid black;
  }

  &::placeholder {
    color: a_color("stealthy");
  }
}
