@use "sass:color";
@use "_variables.scss" as *;
@use "_mixins.scss" as *;
@use "forms";
@use "./atom-one-light.min.scss";
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif+Caption:ital@0;1&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

//- Basic
//

html {
  font-family: #{font("serif")};
  font-size: 100%;
  line-height: size("line-height-max");
  background: a_color("secondary");
  color: a_color("primary");
  -webkit-overflow-scrolling: touch;
}

//- Layout & fonts

body {
  margin: 0;
  padding: 0;
  padding-top: 1px;
  font-size: size("font-min");

  * {
    box-sizing: border-box;
  }

  @media (min-width: size("width-min")) {
    // source: https://www.smashingmagazine.com/2016/05/fluid-typography/
    $font-size-diff: size("font-max") - size("font-min");
    $width-diff: size("width-max") - size("width-min");
    $ratio: calc($font-size-diff / $width-diff);

    font-size: calc(#{size("font-min")} + #{$ratio} * (100vw - #{size("width-min")}));
  }

  @media (min-width: size("width-max")) {
    font-size: size("font-max");
  }

  header,
  main,
  footer,
  article {
    position: relative;
    // max-width: size('width-max');
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  >header {
    margin-bottom: 3.5em;

    h1 {
      margin: 0;
      font-size: 1.5em;
    }

    p {
      margin: 0;
      font-size: 0.85em;
    }
  }

  >footer {
    margin-top: 4.5em;
    padding-bottom: 1.5em;
    text-align: center;
    font-size: 0.8rem;
    color: a_color("stealthy");
  }
}

//max-width for block elements
main,
main article {
  padding: 1px 1rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  &>div,
  blockquote,
  audio,
  video,
  ul,
  ol,
  dl,
  form,
  figure,
  address,
  pre,
  //?
  picture {
    margin-left: auto;
    margin-right: auto;
    max-width: size("width-max");
  }
}

//full size image

p img {
  display: block;
  margin-left: 50%;
  transform: translateX(-50%);
  max-width: calc(100vw - 2rem);

  &.fit {
    transform: none;
    margin: 0 auto;
    max-width: 100%;
  }
}

// caption-line thing
p img+small,
p img+em {
  display: inline-block;
  /* color: a_color("primary_light"); */
  color: color.adjust(a_color("primary"), $lightness: 20%);
  font-size: 0.75em;
  line-height: 110%;
  font-family: font("caption");
}

body>footer>* {
  max-width: size("width-max");
  margin-left: auto;
  margin-right: auto;
}

nav {
  margin: 1em 0;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 0.25em;
    //markdown checklist
  }

  a {
    &:visited {
      color: a_color("link");
    }

    &:hover {
      color: a_color("link-hover");
    }
  }
}

ul,
ol {
  margin-top: 0;
  padding-top: 0;
  padding-left: 2.5em;
}

li input[type*="checkbox"] {
  margin-left: -1.5em;
  margin-right: 1em;
}

//top level divs
//usually, embedded content
main>div,
main article>div {
  margin: 1em auto;

  &:last-child {
    margin-bottom: 0;
  }
}

p //main>div,

//main article>div
  {
  margin: 1em auto;
  hyphens: auto;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  +ul,
  +ol {
    margin-top: -0.75em;
  }

  // no forced floats
  //  img, picture {
  //    float: right;
  //    margin-bottom: .5em;
  //    margin-left: .5em;
  //  }

  picture {
    img {
      float: none;
      margin: 0;
    }
  }
}

dd {
  margin-bottom: 1em;
  margin-left: 0;
  padding-left: 2.5em;
}

dt {
  font-weight: 700;
}

blockquote {
  margin: 0;
  padding-left: 2.5em;
}

aside {
  margin: 0.5em 0;
  font-style: italic;
  color: a_color("stealthy");

  $shift: 12.5rem; // 200px / 16px

  @media (min-width: size("width-max") + $shift * 2) {
    position: absolute;
    right: -$shift;
    width: $shift * 0.75;
    max-width: $shift * 0.75;
    margin: 0;
    padding-left: 0.5em;
    font-size: 0.8em;
    border-left: 1px solid a_color("invisible");
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

section {
  +section {
    margin-top: 2em;
  }
}

//- Typography

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.25em 0 0;
  line-height: size("line-height-min");
  font-family: font("serif");

  &:hover,
  &:focus {
    >a[href^="#"][id] {
      opacity: 1;
      transition:
        opacity 0s,
        color 300ms ease-out;
    }
  }

  +p,
  +details,
  +ul,
  +ol,
  +dl,
  +video,
  +audio {
    margin-top: 0.5em;
  }

  >a[href^="#"][id] {
    position: absolute;
    left: -0.5em;
    opacity: 0;
    background: none;
    color: rgba(a_color("primary"), 0.5);
    transition: opacity 300ms ease-out;

    &:target,
    &:hover,
    &:focus {
      opacity: 1;
      box-shadow: none;
      color: a_color("primary");
      transition:
        opacity 0s,
        color 0s;
    }

    &:target:focus {
      outline: none;
    }

    &::before {
      content: "•";
    }
  }
}

h1 {
  font-size: 2.25em;

  &:first-child {
    margin-top: 8rem;
  }
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.15em;
}

h5 {
  font-size: 1em;
}

h6 {
  margin-top: 1em;
  font-size: 1em;
  color: a_color("stealthy");
}

article {
  +article {
    margin-top: 5em;
  }

  header {
    p {
      font-family: font("sans");
      font-size: 0.6em;
      color: a_color("stealthy");

      +h1,
      +h2 {
        margin-top: -0.25em;
      }

      &:empty {
        display: none;
      }
    }

    h1,
    h2 {
      +p {
        margin-top: 0.25em;
      }

      a {
        color: a_color("primary");

        @include retina-border(a_color("primary"));

        &:visited {
          color: a_color("stealthy");

          @include retina-border(a_color("stealthy"));

          &:hover {
            color: a_color("link-hover");
          }
        }
      }
    }
  }

  >footer {
    margin-top: 1.5em;
    font-size: 0.85em;
  }
}

a {
  text-decoration: none;
  color: a_color("link");
  transition:
    color 300ms ease-out,
    box-shadow 300ms ease-out;

  @include retina-border(a_color("link"));

  &:visited {
    /* color: a_color("link-visited"); */
    color: color.mix(a_color("link"),
        a_color("secondary")); //- we can't use rgba or change background-image in :visited 'cause of security
  }

  &:hover,
  &:active {
    outline-width: 0;
  }

  &:hover {
    box-shadow: inset 0px -1px a_color("link-hover");
    color: a_color("link-hover");
    transition:
      color 0s,
      box-shadow 0s;
  }
}

abbr {
  margin-right: -0.075em;
  hyphens: none;
  letter-spacing: 0.075em;
  font-size: 0.9em;
}

//- Media

img,
picture {
  display: block;
  // max-width: 100%;
  // margin: 0 auto;
}

// audio, video {
//   width: 100%;
//   max-width: 100%;
// }

video {
  object-position: 0 -1px; // fix strange chrome video controls rendering
}

figure {
  margin: 1em 0 0.5em;
  padding: 0;

  +p {
    margin-top: 0.5em;
  }

  figcaption {
    opacity: 0.65;
    font-size: 0.85em;
  }
}

//- Tables

table {
  $scrollBorderColor: rgba(a_color("primary"), 0.15);
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  // margin-left: 50%;
  // margin-left: auto;
  // margin-right: auto;

  display: inline-block;
  border-spacing: 0;
  border-collapse: collapse;
  overflow-x: auto;
  max-width: 100%;
  text-align: left;
  vertical-align: top;
  background:
    linear-gradient($scrollBorderColor 0%, $scrollBorderColor 100%) 0 0,
    linear-gradient($scrollBorderColor 0%, $scrollBorderColor 100%) 100% 0;
  background-attachment: scroll, scroll;
  background-size:
    1px 100%,
    1px 100%;
  background-repeat: no-repeat, no-repeat;

  @media (max-width: 65rem) {
    margin-left: 0;
    transform: none;
    left: 0;
  }

  caption {
    font-size: 0.9em;
    background: a_color("secondary");
  }

  td,
  th {
    padding: 0.35em 0.75em;
    vertical-align: top;
    font-size: 0.9em;
    border: 1px solid a_color("invisible");
    border-top: 0;
    border-left: 0;

    &:first-child {
      padding-left: 0;
      background-image: linear-gradient(to right,
          rgba(a_color("secondary"), 1) 50%,
          rgba(a_color("secondary"), 0) 100%);
      background-size: 2px 100%;
      background-repeat: no-repeat;
    }

    &:last-child {
      padding-right: 0;
      border-right: 0;
      background-image: linear-gradient(to left,
          rgba(a_color("secondary"), 1) 50%,
          rgba(a_color("secondary"), 0) 100%);
      background-position: 100% 0;
      background-size: 2px 100%;
      background-repeat: no-repeat;
    }

    &:only-child {
      background-image: linear-gradient(to right,
          rgba(a_color("secondary"), 1) 50%,
          rgba(a_color("secondary"), 0) 100%),
        linear-gradient(to left,
          rgba(a_color("secondary"), 1) 50%,
          rgba(a_color("secondary"), 0) 100%);
      background-position:
        0 0,
        100% 0;
      background-size:
        2px 100%,
        2px 100%;
      background-repeat: no-repeat, no-repeat;
    }
  }

  th {
    line-height: size("line-height-min");
  }
}

//- Code

code,
kbd,
var,
samp {
  font-family: font("mono");
  font-style: normal;
  font-size: 0.8em;
  background-color: a_color("invisible");
}

pre {
  $scrollBorderColor: rgba(a_color("primary"), 0.15);
  /* $scrollBorderColor: rgba(color('primary'), .15); */
  // padding: 0.5rem;

  overflow-x: auto;
  // font-size: .8em;
  background:
    linear-gradient($scrollBorderColor 0%, $scrollBorderColor 100%) 0 0,
    linear-gradient($scrollBorderColor 0%, $scrollBorderColor 100%) 100% 0;
  background-attachment: scroll, scroll;
  background-size:
    1px 100%,
    1px 100%;
  background-repeat: no-repeat, no-repeat;
  background-color: #fdfaf1;

  >code {
    display: inline-block;
    padding: 1rem;
    overflow-x: visible;
    box-sizing: border-box;
    background-color: transparent;
    min-width: 100%;
    border-right: 3px solid a_color("secondary"); // 3px 'cause of bad chrome rendering
    border-left: 1px solid a_color("secondary");
  }
}

//- Misc.

hr {
  height: 1px;
  margin: 2em 0;
  border: 0;
  background: a_color("invisible");
}

details {
  margin: 1em 0;

  &[open] {
    padding-bottom: 0.5em;
    border-bottom: 1px solid a_color("invisible");
  }
}

summary {
  display: inline-block;
  font-weight: 700;
  border-bottom: 1px dashed;
  cursor: pointer;

  &::-webkit-details-marker {
    display: none;
  }
}

noscript {
  color: a_color("alarm");
}

::selection {
  background: rgba(a_color("accent"), 0.15);
}
